<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDqKHq_Nw9RCYIBQU2I-7YY-T457GtfZd0</string>
	<key>GCM_SENDER_ID</key>
	<string>946524886850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceorange</string>
	<key>PROJECT_ID</key>
	<string>ecommerceorange-7017c</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceorange-7017c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946524886850:ios:ccf57b0a248d2828945adb</string>
</dict>
</plist>